.command {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop { 
    padding-top: 94px;
    padding-bottom: 94px;
}
}  

.command-list,
.name-title {
  color: var(--primary-text-color);
}

.command__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  @include desktop { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.command-list {
  margin-bottom: -30px;
  @include tablet { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }

  &__image {
    margin-bottom: 30px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include tablet {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
  }
    @include desktop { 
      width: calc(100% / 4 - 30px);
  }

  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  
    margin-top: 30px;
    margin-bottom: 10px;
  }

}

.command-list__user {
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 16px;
}

.command-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  
  &__link {
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
  
    transition: color 250ms, background-color 250ms;
  }
  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}

.command-soc-list__item + .command-soc-list__item {
  margin-left: 10px;
}