.bottom__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  
    margin-right: 156px;
  }
  
  .logo--white {
    color: var(--primary-white-color);
  }