.join__title {
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-right: 153px;
    margin-bottom: 20px;
}

.join-list {
    display: flex;
    list-style: none;
    &__link {
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        transition: color 250ms, background-color 250ms;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--primary-white-color);
    }
    &__link:hover,
    &__link:focus {
        background-color: var(--accent-color);
        fill: var(--primary-white-color);
    }
    &__image:not(:last-child) {
        margin-right: 10px;
    }
}


