body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  
  
  